#root {
	display: flex;
	justify-content: center;
	align-items: center;
}
.card {
	width: 50%;
	height: 50vh;
	margin: 12.5% auto;
	background-color: #fff;
	box-shadow: 4px 5px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.title {
	
}
