.header {
	background-color: rgb(255, 255, 255);
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);

	.iconTag {
		margin-left: 1rem;

		&:hover {
			cursor: pointer;
		}
	}

	.nav {
		margin: 0 auto 0 auto;

		&:hover {
			cursor: pointer;
		}
	}

	.avatar {
		margin-right: 1rem;
	}
}
